.imageContact {

  
  
  /* border-radius: 500px 0px 1000px 2000px; */
  border-radius: 0 1000px 10000px 0;
  width: 70%;
  height: auto;
  border-bottom: solid 3px var(--primary);
  background: #ffffff;
  box-shadow: -1px 5px 8px 0px var(--primary)  
}

.container-img {

  width: 50%;
  height: auto;
  padding: 0;

  /* border-radius: 0 20000px 20px 0; */

  border-radius: 0 0px 1000px 2000px;
  background: #780000;
  z-index: -1;


}


.title {
  color: #ffffff;
  
  border-bottom: 7px solid #939393;
  text-align: center;
  background-color: #272829;
}

.dev{
    font-weight: 900;
    box-shadow: 10px #939393;
}


.text-container{
  display: flex;
  align-items: center;
}


.dec{
  font-weight: bolder !important;
  font-size: larger;
  color: var(--primary);
}
