@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&display=swap');

:root {
  --fontColor: rgb(255, 255, 255);
  --deep: #272829;
  
  --curve: 40;
  --primary: #00b6c0;
  /* --primary: #872929; */
  overflow: auto;
}





html,
body {
  height: 100%;
  background: var(--deep) !important;
  
  color: var(--fontColor) !important
}

body {

  font-size: small ;
  margin: 0;

  font-family: 'Encode Sans Condensed', sans-serif ;
}

body {
  padding-top: 15vh;
}

body::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(31, 31, 31);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(67, 67, 67);    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
  border: 1px rgba(67, 67, 67, 0.614);  /* creates padding around scroll thumb */
}