@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&display=swap');

:root {
  
  --curve: 40;
  --primary: #00b6c0;
  overflow: auto;
}



router-outlet {
  background-color: var(--deep);
}

html,
body {
  height: 100%;
  background: #272829 !important;
  
  color: rgb(230, 230, 230) !important
}

body {

  font-size: small !important;
  margin: 0;

  font-family: 'Encode Sans Condensed', sans-serif !important;
}

body {
  padding-top: 15vh;
}
