input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.page-header {
    margin-top: 5%;
  text-align: center;
  background-color: var(--backgroundColor1);
  
  color: var(--fontColor);
  


   border-radius: 0 0  10px 10px;
  
   background: linear-gradient(45deg, var(--backgroundColor1) 0%, var(--accent) 100%);
   background-size: 400% 400%;
   animation: gradient 6s ease infinite;
 
 
}


@keyframes gradient {
	0% {
		background-position: 50% 50%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 50% 50%;
	}
}
form{
  margin-bottom: 5rem
  }