<div class="container-fluid overflow-hidden">
  <div class="row vh-100 overflow-auto">
    <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 nav-style d-flex sticky-top">
      <div
        class="aside-container d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3  text-white">
        <a href="/" class="d-flex align-items-center  mb-sm-0 me-sm-auto text-white text-decoration-none">
         
         
        
          <img src="../../../assets/images/logo.png" alt="logo" width="90" height="70" class=" mx-sm-4 d-sm-inline">
        
        </a>
        <ul
          class="nav nav-pills  flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
          id="menu">
          <li class="nav-item">
            <a routerLink='/admin' href="#" class="nav-link px-sm-0 px-2">
              <i class="bi bi-house"></i><span class="ms-1 d-none d-sm-inline active">Home</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a id="projects" routerLink='/admin/projects' class="nav-link px-sm-0 px-2">
              <i class="fs-5 bi-window"></i><span class="ms-1 d-none d-sm-inline">Projects</span></a>
          </li >
		  <li class="nav-item">
            <a routerLink='/admin/contact' href="#" class="nav-link px-sm-0 px-2">
              <i class="fs-5 bi-person"></i><span class="ms-1 d-none d-sm-inline">Contact</span></a>
          </li >
          <li class="dropdown nav-item">
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </li>
          
        </ul>
        <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://avatars.githubusercontent.com/u/60680986?s=96&v=4" alt="hugenerd" width="32" height="32" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">Diego</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a routerLink='/admin/projects/create' class="dropdown-item" >New project...</a></li>
            <li><a class="dropdown-item" (click)="changeTheme()">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="  col d-flex flex-column col-12 col-sm-9 col-xl-10  h-md-100 h-sm-100 h-xs-100">
      <main class="row overflow-auto">
        <router-outlet></router-outlet>
      </main>

    </div>
  </div>
</div>
