.nav-style{
    background-color: var(--backgroundColor1);
    background: linear-gradient(45deg, var(--backgroundColor1) 0%, var(--primary) 100%);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
}
.nav-link{
    
    width: 110%;
}




.nav-item  :hover{
    color: var(--accent);
   border-radius: 0px 25px 0px 25px ;
    box-shadow: 10px 10px 10px #000
}



/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
        
    }
}




.nav-item a  :hover{
    color: var(--accent);
   
    box-shadow: none
}

.nav{
   padding-right: 2rem;
    
}



@keyframes gradient {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.loader-container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor2);
   
    z-index: 100000;
}

main ,.container-content, .row{
    background-color: var(--deepBackground);
    color: var(--fontContentColor);
}
.nav-item a , .nav-item{
    color: var(--fontTitleColor) ;
    transition: box-shadow 500ms, color 500ms , border-radius 1500ms;
}

.active{
    color: var(--accent);
    border-radius: 0px 25px 0px 25px ;
     box-shadow: 10px 10px 10px #000
     
}
.active a {
    color: var(--accent);
   
    box-shadow: none
}

.offcanvas-body, view-general, change-password, change-general, .accordion-item{
    background-color: var(--deepBackground);
    color: var(--fontContentColor);
}
.offcanvas-header{
    background-color: var(--backgroundColor1);
    background: linear-gradient(45deg, var(--backgroundColor1) 0%, var(--primary) 100%);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
  color: var(--fontTitleColor);
  
    
    padding: 0.4rem 0.8rem;

}
.offcanvas-header .btn-close{
    animation: none;
 
    background-color: rgba(255, 255, 255, 0.395);
    padding: 2vh;
    box-shadow: 0 4px 30px #000000bd;
backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px);
border: 1px solid #1313134d;
    
}