.nav-style{
    background-color: var(--backgroundColor1);
    background: linear-gradient(45deg, var(--backgroundColor2) 0%, var(--backgroundColor1) 100%);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
}
.nav-link{
    
    width: 110%;
}
.nav-item a , .nav-item{
    color: var(--fontColor);
    transition: box-shadow 500ms, color 500ms , border-radius 1500ms;
}



.nav-item  :hover{
    color: var(--primary);
   border-radius: 0px 25px 0px 25px ;
    box-shadow: 10px 10px 10px #000
}



/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
        
    }
}




.nav-item a  :hover{
    color: var(--primary);
   
    box-shadow: none
}

.nav{
   padding-right: 2%;
    
}



@keyframes gradient {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.loader-container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor2);
   
    z-index: 100000;
}

