.card-login{
    
    margin: auto;
    position: relative;
    z-index: 50;
    height: 50%;
    width: 100%;
    margin-top: 10%;
   
}

.form-login{
    position: absolute;
    z-index: 100;
    border-radius: 5%;
}
/* bootstrap classes */
.card{
    background-color: var(--space-color);
    color: #fff
}
.btn-primary{
    
    background-color: #94bbe9;
    border-color: transparent
}
