<div class="container ">
    <div class="mt-5 mb-5 row">

            <div (click)="changeTheme(theme)" *ngFor="let theme of themes" class=" myCard  mt-3 card bg-dark col-xs-12 col-sm-12 col-md-4 col-lg-4"> 
                <div class="card-header">
                    {{theme.name}}
                </div>
                <div class="card-body row">
                    <ul class="colors col-2">
                      <li [style.background]="theme.primary"></li>
                      <li [style.background]="theme.accent"></li>
                      <li [style.background]="theme.backgroundColor1"></li>
                      <li [style.background]="theme.backgroundColor2"></li>
                    </ul>
                    <ul class="names-colors col-10 text-white">
                      <li>primary</li>
                      <li>accent</li>
                      <li>Primary Background</li>
                      <li>Second Background</li>
                      </ul>
                </div>
            </div>
     
       
         
       


    </div>
</div>
