
  <div class="card-header text-center">Password Recovery<img src="../../../assets/images/logo.png" alt="logo" width="90"
      height="70" class=" mx-sm-4 d-sm-inline"></div>
  <div class="card-body">
    <form [formGroup]="forgotForm" (ngSubmit)="send()">
      <div class=" center-block">

        <div class="col-md-12 ">
          <label class="sr-only" for="email">Email</label>
          <input formControlName="email" type="email" class="form-control" placeholder="">
          <!-- <div class="text-danger" *ngIf="userForm.get('user')?.hasError('required')
                    && userForm.get('user')?.touched">
                            <span class="mt-text ">Username is <strong>required</strong></span>
                        </div> -->

        </div>
      </div>

      <div class="col-md-12">
        <label class="sr-only" for="password">New password</label>
        <input formControlName="pwd" type="password" class="form-control" placeholder="">

        <!-- <div class="text-danger" *ngIf="userForm.get('pwd')?.hasError('required')
                    && userForm.get('pwd')?.touched">
                            <span class="mt-text ">Password is <strong>required</strong></span>
                        </div> -->
      </div>
      <div class="col-md-12">
        <label class="sr-only" for="password">Backup Key</label>
        <input formControlName="backupKey" type="password" class="form-control" placeholder="">

        <!-- <div class="text-danger" *ngIf="userForm.get('pwd')?.hasError('required')
                && userForm.get('pwd')?.touched">
                        <span class="mt-text ">Password is <strong>required</strong></span>
                    </div> -->
      </div>




      <div class="form-group ">
        <input type="submit" class="btn btn-primary mt-3 float-end" value="Change">
        <input (click)="back()" type="button" class="btn btn-primary mt-3 float-In" value="Back">
      </div>

    </form>
  </div>

